{% load url_replace %}
{% if is_paginated %}
<p class="text-muted">
  <i>{{paginator.count}} resultater</i>
</p>

<ul class="pagination">
  {% if page_obj.has_previous %}
  <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
  {% endif %}

  <li class="active">
    <a href="#">Side {{ page_obj.number }} af {{paginator.num_pages}}<span class="sr-only">(current)</span></a>
  </li>

  {% if page_obj.has_next %}
  <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
  {% endif %}
</ul>
{% endif %}
